# **Pymaceuticals Inc.**
---
## Module 5- Matplotlib Challenge
### By: Zack Crowley
- Started Sun 10/23/22

### **Analysis**
 
- Add your analysis here!!!  
- Update readme before turning in!!!
 
 ---

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np 

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
mouse_df = pd.merge(study_results, mouse_metadata, how="left", on=["Mouse ID", "Mouse ID"])

# Display the data table for preview
mouse_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [18]:
# Checking the number of mice:
uni_mice_id = len(mouse_df["Mouse ID"].unique())
print(f'The number of unique mice ID is: {uni_mice_id}')

The number of unique mice ID is: 249

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
mouse_ID_time = mouse_df.loc[mouse_df.duplicated(), :] 
mouse_ID_time["Mouse ID"]

137    g989
Name: Mouse ID, dtype: object

In [4]:
# Optional: Get all the data for the duplicate mouse ID. 
dup_mouse_ID = mouse_df[mouse_df["Mouse ID"] == "g989"]   
dup_mouse_ID

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
107,g989,0,45.000000,0,Propriva,Female,21,26
137,g989,0,45.000000,0,Propriva,Female,21,26
329,g989,5,48.786801,0,Propriva,Female,21,26
360,g989,5,47.570392,0,Propriva,Female,21,26
620,g989,10,51.745156,0,Propriva,Female,21,26
681,g989,10,49.880528,0,Propriva,Female,21,26
815,g989,15,51.325852,1,Propriva,Female,21,26
869,g989,15,53.442020,0,Propriva,Female,21,26
950,g989,20,55.326122,1,Propriva,Female,21,26
1111,g989,20,54.657650,1,Propriva,Female,21,26
1195,g989,25,56.045564,1,Propriva,Female,21,26
1380,g989,30,59.082294,1,Propriva,Female,21,26
1592,g989,35,62.570880,2,Propriva,Female,21,26

In [24]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
mouse_clean_df = mouse_df.drop(mouse_df[(mouse_df["Mouse ID"] == "g989")].index,axis=0)     
mouse_clean_df[mouse_df["Mouse ID"] == "g989"]

/Users/zackcrowley/opt/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

Empty DataFrame
Columns: [Mouse ID, Timepoint, Tumor Volume (mm3), Metastatic Sites, Drug Regimen, Sex, Age_months, Weight (g)]
Index: []

In [25]:
# Checking the number of mice in the clean DataFrame.
uni_Clean_mice_id = len(mouse_clean_df["Mouse ID"].unique())
print(f'Now, the number of unique mice ID in the clean df is: {uni_Clean_mice_id}')

Now, the number of unique mice ID in the clean df is: 248

## **Summary Statistics**

In [44]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary DataFrame.
group_drug_tumor = mouse_clean_df.groupby("Drug Regimen")["Tumor Volume (mm3)"]
drug_tumor_mean = mouse_clean_df.groupby("Drug Regimen").mean()["Tumor Volume (mm3)"]
# Below not working:
# print(st.mode(group_drug_tumor))

/Users/zackcrowley/opt/anaconda3/envs/pythondata/lib/python3.6/site-packages/scipy/stats/stats.py:269: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

TypeError: 'Series' objects are mutable, thus they cannot be hashed